
<h3 class="schedule-preview-header">Schedule</h3>

<div class="schedule">

		{{#if preview.channel.onAirRun.show.cgTitle}}
		<div class="schedule-row clearfix">
			<div class="plaque">
				{{#link-to 'watch-now' preview.channel.liveStreams.firstObject.id alt=preview.channel.onAirRun.show.cgTitle class='live-stream-name'}}
					<div class="plaque-content now">
						Now
					</div>
				{{/link-to}}
			</div>
			<div class="schedule-container u-truncate-text">
				{{#link-to 'watch-now' preview.channel.liveStreams.firstObject.id alt=preview.channel.onAirRun.show.cgTitle class='live-stream-name'}}
					{{preview.channel.onAirRun.show.cgTitle}}
				{{/link-to}}
			</div>
		</div>
		{{/if}}

	{{#each preview.channel.futureRuns as |run|}}
		<div class="schedule-row clearfix">
			<div class="plaque">
				{{#link-to 'show' run.show.id}}
					<div class="plaque-content not-now">
						{{moment-format run.runDateTime 'h:mm a'}}
					</div>
				{{/link-to}}
			</div>
			<div class="schedule-container u-truncate-text">
				{{#link-to 'show' run.show.id}}
					{{run.show.cgTitle}}
				{{/link-to}}
			</div>
		</div>
	{{/each}}
</div>
{{link-to 'See the entire schedule' 'schedule' class="btn btn-schedule"}}
