<!-- Described channel.channelContactInfo !-->
<h3>Station hours</h3>
<p>{{contactInfo.description}}</p>
<p><strong>Call us:</strong> {{contactInfo.phone}}</p>
<p><strong>Email us:</strong> {{contactInfo.phone}}</p>
<h3>Connect with us</h3>
<ul class="social-links">
    <li></li>
</ul>