
$md: 991px;
$sm: 767px;
$xs: 575px;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// ----------------------------------------------------------------------------
// Native Elements
// ----------------------------------------------------------------------------

body {
	display: block;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

// ----------------------------------------------------------------------------
// Site Wide Layout
// ----------------------------------------------------------------------------

/* Header */
.header-controls {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo-wrapper {
    height: 75px;
    width: 400px;
    overflow: hidden;
    max-width: 100%;
}

.header-logo-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.header-controls-search-wrapper {
    padding-right: 20px;
}
.btn-change-channel{
  margin-right:2em;
}

// ----------------------------------------------------------------------------
// Home Page
// ----------------------------------------------------------------------------

.carousel-indicators {
    top: 90%;
    left: 25%;
    text-align: right;
    width: 100%;
    z-index: 31;
}

.carousel-caption {
    bottom: -17px;
    width: 100%;
    max-width: 475px;
    text-align: left;
    padding-left: 10px;
    left: 20px;
}

.carousel-caption-header {
	font-size: 20px;
}

.carousel-caption-link, .carousel-caption-link:hover, .carousel-caption-link:visited {
	color: #fff;
}

// ----------------------------------------------------------------------------
// Schedule
// ----------------------------------------------------------------------------

.schedule {
    list-style: none;
}

.schedule-row {
    margin-bottom: 10px;
}

.schedule-page {
    padding-bottom: 20px;
}

.schedule-title {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    width: 90%;
}

.schedule-header {
	padding-left: 20px;
}

.schedule-wrapper {
	padding-top: 20px;
}

.podcasts-header {
    padding-left: 20px;
}

.schedule-title.is-mobile {
		margin-left: 0px;
    display: block;
    line-height: 1.5em;
}

.schedule-container.is-mobile {
    width: 95%;
    height: 44px;
}

.event-date {
    display: inline;
    line-height: 1em;
}

.play-icon {
    display: inline;
}

.play-icon.is-desktop {
	display: inline-block;
	float:left;
}

.schedule-container {
    float: left;
    height: 30px;
    width: calc(95% - 75px);
    margin-left: 5px;
    border-bottom: 1px solid #CCCCCC;
}

@media (min-width: 1200px) {
	.event-date {
		display: none;
	}
}

.live-stream-name-wrapper {
    height: 30px;
    width: calc(95%);
    margin-left: 5px;
}

.show-future-runs-container {
	height: 30px;
	margin-left: 5px;
    width: calc(95% - 75px);
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	line-height: 30px;
}

.btn-schedule {
  	margin-bottom: 20px;
    width: 95%;
}

// ----------------------------------------------------------------------------
// Plaque
// ----------------------------------------------------------------------------

.plaque{
    float: left;
    display: inline-block;
    position: relative;
    width: 65px;
    height: 30px;
    overflow: hidden;
}

.plaque-content {
    text-align: center;
    color: white;
		letter-spacing: -1px;
}

// ----------------------------------------------------------------------------
// Gallery
// ----------------------------------------------------------------------------

.gallery-title-wrapper {
    text-align: center;
    text-transform: capitalize;
}

.gallery-title-header{
  cursor:pointer;
  &:hover{
    text-decoration:underline;
  }
  @include media-query($xs){
    font-size:1.8em;
  }
}

.gallery-wrapper {
	padding-top: 20px;
}
.loading-spinner{
  flex:0 0 100%;
  text-align: center;
}
.gallery-show-all-link{
  display: inline-block;
  margin-top:35px;
  @include media-query($xs){
    margin-top:0;
  }
}
.gallery-no-shows-warning{
  text-align:center;
  flex:1;
  margin:0 0 .5em 0;
}

/* This is a hotfix */
// It's necessary to undo the Bootstrap container gutter because the ember view div gets in the way.
.gallery-wrapper .row {
    padding-bottom: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.gallery-wrapper .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// Hotfix end.

.channel-stub-container{
  display:flex;
  flex-wrap:wrap
}
.channel-stub{
  text-align: center;
  flex: 0 0 20%;
  padding-right:1em;
}

.public-site-links-title{
  font-size:24px;
}

.channel-stub-logo{
  & > .img{
    margin:auto;
  }
}
.channel-stub-title{
  font-size:1.1em;
}

.show-page-header {
  @media (min-width: $xs){
    display: inline-block;
  	width: 80%;
  }
}

.show-page-show-details-header,
.show-page-airtimes-header,
.show-page-chapters-header {
  text-transform: uppercase;
}

.show-page-video-col {
  @media (min-width: $xs) {
    height: calc(100vh - 300px);
  }
}

.show-page-social-links {
  text-align: center;
  margin-top: 10px;
  @media (min-width: $xs) {
    display: inline-block;
    width: 20%;
    float: right;
    margin-top: 20px;
    text-align: right;
  }
}

.show-page-pdf-btn {
  text-align: center;
  margin: 10px 0;
}

.show-page-section-btns-wrapper {
  margin: 10px 0 20px 0;
}

.show-page-section-btn {
  text-transform: uppercase;
  width: 100%;
  margin: 2px 0;
  @media (min-width: $xs) {
    border-radius: 0;
    box-sizing: border-box;

    width: calc(50% - 5px);
  }


}

.nav-tabs-padding {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.show-stub-container{
  display:flex;
  flex-wrap:wrap;
}
.show-stub{
  width:25%;
  padding:1em;
  flex:0 0 25%;
  @include media-query($md){
    width:33%;
    flex: 0 0 33%;
  }
  @include media-query($sm){
    width:50%;
    flex: 0 0 50%;
  }
  @include media-query($xs){
    width:100%;
    flex: 0 0 100%;
  }
}
.show-stub-property {
  display:flex;
  font-size: 14px;
}
.show-stub-property-title{
  flex:1;
}
.show-stub-property-value {
	flex:3;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-word;
	text-overflow: ellipsis;
}

.img-responsive {
  .show-thumbnail {
    margin: 0 auto;
  }
}

.search-results-header {
    margin: 10px 0 20px 10px;
}

.additional-info {
	padding:  0 20px 20px 20px;
}

.show-details-headser,
.schedule-preview-header {
  margin: 0px;
	padding-bottom: 10px;
  text-transform: capitalize;
}

.show-header {
	color: black;
	margin-bottom: 20px;
}

.show-stub-title-header {
  font-size: 18px;
	font-weight: bold;
}

.search-results-wrapper {
  padding-top: 20px;
}

.thumbnail-responsive {
    /* This is applied to the A tag above the image */
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
}

.thumbnail-responsive img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.upcoming-schedule {
	padding-left: 25px;
}

@media (min-width: 992px) {
	.upcoming-schedule {
		padding-left: 15px;
	}
}


.schedule-background {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 20px;
	min-height: 50vh;
}

.schedule-header {
	margin: 20px 0px;
}

.schedule-date-picker {
	// Nesting is required here because we don't have access to the code for the
	// datepicker component.
	margin: 20px 0px;
	input {
		text-align: center;
	}

	.multi-wide {
		display: inline;
	}
}

.watch-now-header {
	padding-left: 20px;
}

/* Utilities */

.u-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-break-text {
		word-wrap: break-word;
}

.u-no-padding {
	padding: 0;
}

.podcast-card {
	margin-bottom: 5px;
	padding: 5px;
}

/* Utilities End */

/* Footer */
.footer-wrapper {
    padding-bottom: 20px;
}

.footer-header {
    font-size: 24px;
}


.social-link {
    margin-right: 4px;
}

.vod-chapters {
  @media (min-width: $xs) {
    max-height: 350px;
    overflow: auto;
  }
}
.show-page-video-col .vod-chapters {
  @media (min-width: $xs) {
    max-height: calc(100vh - 620px);
  }
}

.show-page-last-row {
  padding-bottom: 20px;
}

.vod-chapters .vod-chapters-chapter:nth-of-type(even) {
  background-color: #eee;
}

.vod-chapters-chapter {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.vod-chapters-seperator {
  margin: 5px 0;
}

.social-wrapper {
  padding-top: 1em;
}

.pdfViewer .page {
  border-image: none;
}

.pdf-wrapper,
.pdfViewerContainer {
  width: 100%;
  overflow: scroll;
  max-height: calc(100vh - 300px);
  margin-bottom: 10px;
  border: 1px solid #ccc;
}



// Define colors here. These may be overriden by customer
@import 'colors.scss';

