@import 'colors.scss';

body {
	display: block; 
	background: #FFF;
    color: set-button-text-color($public-primary);
	width: 100%;
	font-family: avenir;
}
.menu {
	float:right;
}

#header {
    background-color: $public-primary;
}

.header-padding {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.primary-background {
    background-color: $public-primary;
}

#main {
    height: 100%;
    color: set-button-text-color($public-primary);
}

.main-background {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, $public-primary-lighter),
        color-stop(1, $public-primary-lightest)
        // color-stop(0, #73818C),
        // color-stop(1, #CDD2D6)
    );
    background-image: -o-linear-gradient(bottom, $public-primary-lighter 0%, $public-primary-lightest 100%);
    background-image: -moz-linear-gradient(bottom, $public-primary-lighter 0%, $public-primary-lightest 100%);
    background-image: -webkit-linear-gradient(bottom, $public-primary-lighter 0%, $public-primary-lightest 100%);
    background-image: -ms-linear-gradient(bottom, $public-primary-lighter 0%, $public-primary-lightest 100%);
    background-image: linear-gradient(to bottom, $public-primary-lighter 0%, $public-primary-lightest 100%);
}


.carousel-indicators {
    top: 90%;
    left: 25%;
    text-align: right;
    width: 100%;
    z-index: 31;
}

.carousel-caption {
    bottom: -17px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    left: 20px;
}

.carousel-background {
    padding: 0px;
    margin: 0px;
    background-color: $public-primary-accent;
    color: set-button-text-color($public-primary-accent);
}


/* Schedule */

.schedule {
    list-style: none;
    line-height: 30px;
}

.schedule-row {
    height: 40px;
}


.schedule .front-page {
    
}

.container-wrapper,
.upcoming-shows {
    background-image: linear-gradient($public-primary-lighter, $public-primary-lightest);
}

.schedule .shows-page {

}

.schedule .front-page .event-date {
    display: none;
}

.schedule .schedule-page .event-date {
    display: none !important;
}

.schedule .shows-page .event-date {
    display: inline-block;
}

.schedule .front-page .play-icon {
    display: none;
}

.schedule .schedule-page .play-icon {
    float: left;
    display: inline-block;
}

.schedule .shows-page .play-icon {
    display: none;
}

.schedule .front-page .schedule-title,
.schedule .schedule-page .schedule-title {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    color: set-button-text-color($public-primary-accent);
    width: 90%;
}

.schedule .shows-page .schedule-title {
    display: none;
}

.schedule a,
.schedule span {
    color: set-button-text-color($public-primary-accent);
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.schedule .schedule-container {
    display: inline-block;
    width: 75%;
    height: 30px;
    border-bottom: 1px solid #CCCCCC;
}

.schedule .schedule-title {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    color: set-button-text-color($public-primary);
    width: 70%;
}

.schedule .event-date {
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    color: #595959;
    width: 100%;
}



#footer {
    padding-bottom: 20px;
}

.social-link {
    color: set-button-text-color($public-primary);
}

.footer-background {
    background-color: $public-primary;
    color: set-button-text-color($public-primary);
}

#footer h1 {
    text-transform: uppercase;;
}


.btn-watch {
    color: set-button-text-color($public-button-watch);
    background-color: $public-button-watch;
    border-color: $public-button-watch-outline;
}

.btn-search {
    color: set-button-text-color($public-button-search);
    background-color: $public-button-search;
    border-color: $public-button-search-outline;
}


.btn-schedule {
    color: set-button-text-color($public-button-schedule);
    background-color: $public-button-schedule;
    border-color: $public-button-schedule-outline;
    margin-bottom: 20px;
    width: 95%;
}


.plaque{
    display: inline-block;
    position: relative;
    width: 65px;
    height: 30px;
    overflow: hidden;
}

.plaque:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.plaque-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.plaque-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.plaque-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.title {
	overflow: hidden;
}

.now {
    background: $public-action-badge;
    border: 1px solid $public-action-badge-outline;
}

.not-now {
    background: $public-badge;
    border: 1px solid $public-badge-outline;
    letter-spacing: -1px;
}

#browse {
    background-color: $public-primary-accent-header;
    text-align: center;
    padding-bottom: 10px;
}

.gallery-name {
    color: set-button-text-color($public-primary-accent-header);
    text-transform: uppercase;
}


#library {

    background-color: $public-primary-accent;
    padding-top: 20px;
    color: set-button-text-color($public-primary-accent);
}


/* This is a hotfix */
// It's necessary to undo the Bootstrap container gutter because the ember view div gets in the way.
#library .row {
    padding-bottom: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#library .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// Hotfix end.

#library .program-description {
    width: 100%;
}

#library .program-data {
   float: right;
}

.show-name a {
	color: set-button-text-color($public-primary-accent);
}


.show-background {
	background-color: white;
	padding: 20px;
	margin: 20px;
	min-height: 50vh;
}

.show-background h1, .show-background h3 {
	color: set-button-text-color(#ffffff);
	margin: 0px;
}

.show-background button, .show-background input, .show-background .picker {
	color: black;
}

.show-details {
	padding: 20px;
	background-color: $public-primary-accent;
	color: set-button-text-color($public-primary);
}

.show-details h3 {
	color: set-button-text-color($public-primary);
	padding-bottom: 10px;
}

ul {
	padding-left: 0px;
}

// .big-schedule {
//     list-style: none;
//     line-height: 30px;
// }

// .big-schedule li {
// 	padding-top: 10px;
	
// }

// .bottom-border {
//     display: inline-block;
//     height: 30px;
//     width: 75%;
//     border-bottom: 1px solid #CCCCCC;
// }




// .big-schedule a {
// 	color: black;
// }

// .big-schedule > span {
// 	color: black;
// }

// .big-schedule .plaque{
//     display: inline-block;
//     position: relative;
//     width: 70px;
//     height: 30px;
//     overflow: hidden;
// }

// .big-schedule .event-date {
// 	display: none;
// }

// .big-schedule .schedule-title {
//     display: inline-block;
//     position: relative;
//     overflow: hidden;
//     margin-left: 5px;
//     width: auto;
//     color: black;
//     border-bottom: 1px solid #cccccc;
// }

// .big-schedule .schedule-title span {
//     display: table-cell;

//     text-align: center;
//     vertical-align: middle;
//     color: black
// }

// .big-schedule .schedule-title span a {
// 	color: black !important;
// }

// .big-schedule .play-icon {
// 	position: relative;
// 	height: 30px;
//     width: 15px;
// 	overflow: hidden;
// 	display: inline-block;
// 	color: #5cb85c;
// }

// .big-schedule .play-icon-link {
//     color: #5cb85c;
// }

.search {
	padding-top: 20px;
}

.search .show-name a {
	color: $public-primary-accent;
}

.thumbnail-responsive {
    /* This is applied to the A tag above the image */
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
}

.thumbnail-responsive img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media only screen and (max-device-width: 480px) {
    .show-stub {
        height: 300px;
    }
    .show-background {
        margin: 0px;
    }
    .show-details {
        padding: 5px;
    }
}

@media (min-width: 992px) {
    .show-stub {
        height: 350px;
    }
}

.u-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}