// Rename public to site

$public-primary: #73818C;
$public-primary-lighter: lighten($public-primary, 30%);
$public-primary-lightest: lighten($public-primary-lighter, 30%);
$public-primary-darker: darken($public-primary, 30%);
$public-primary-accent: lighten($public-primary-lighter, 8%);
$public-primary-accent-header: #293239;


$public-text-light: #FFFFFF;
$public-text-dark: #595959;

$public-action-badge: #2FB566;
$public-action-badge-outline: darken($public-action-badge, 10%);

$public-badge: #A2ABB3;
$public-badge-outline: lighten($public-badge, 10%);

$public-button-search: #337ab7;
$public-button-search-outline: darken($public-button-search, 10%);

$public-button-schedule: $public-button-search;
$public-button-schedule-outline: darken($public-button-schedule, 10%);

$public-button-watch: #2FB566;
$public-button-watch-outline: darken($public-button-watch, 10%);


@function set-button-text-color($color) {
    @if (lightness($color) > 50) {
        @return $public-text-dark; // Lighter backgorund, return dark color
    } @else {
        @return $public-text-light; // Darker background, return light color
    }
}