<div id="header" class="primary-background">
	<div class="container">
		<div class="row">
            <div class="col-xs-12 col-sm-4">
            	{{#link-to "index" class="main"}}
					<img src="images/temp-peg-logo.png">
				{{/link-to}}
			</div>
            <div class="col-xs-12 col-sm-8 pull-right">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 header-padding pull-right">
                            {{#if channel.liveStreams}}
                                {{link-to 'Watch' 'watch' channel.liveStreams.firstObject.id class="btn btn-watch pull-right"}}
                            {{/if}}
                            <div class="input-group">
                            	{{input value=tempQuery class="form-control" placeholder="Search"}} 
                                
                                <span class="input-group-btn">
                                    <button class="btn btn-search" {{action 'search' tempQuery }} >Search</button>
                                </span>
                            </div><!-- /input-group -->
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>