<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="public site canonical url" stopProcessing="true">
                    <match url="^(cablecastpublicsite)(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" pattern="^CablecastPublicSite.*" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="CablecastPublicSite{R:2}" />
                </rule>
                <rule name="add trailing slash" enabled="true" stopProcessing="true">
                    <match url="^(/CablecastPublicSite.*[^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
