<configuration>
  <system.webServer>
    <handlers>
    	<add name="iisnode" path="fastboot-server.iisnode" verb="*" modules="iisnode" />
    </handlers>
    <iisnode loggingEnabled="true" />
    <rewrite>
       <rules>
         <rule name="hello">
           <match url="/*" />
           <conditions>
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
           </conditions>
           <action type="Rewrite" url="fastboot-server.iisnode" />
         </rule>
       </rules>
     </rewrite>
  </system.webServer>
</configuration>
