<div id="footer" class="footer-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>About our station</h1>
                <p>{{{footer.publicSiteConfiguration.aboutHtml}}}</p>
            </div>
            <div class="col-md-4">
                <h1>Contact Us</h1>
                {{!-- {{contact-us footer.channelContactInfo}} --}}
            </div>
        </div>
    </div>
</div>