<nav>
  <LinkTo @route="index" class="main">
    <img src={{this.model.logoUrl}} alt="Site logo">
  </LinkTo>
  <div class="menu">
    <Input @value={{this.tempQuery}} />
    <button {{action "navSearch" this.tempQuery}}>
      Search
    </button>
    <button {{action "watch"}}>
      Watch Live
    </button>
  </div>
</nav>