{{nav-menu channel=model on-search='navSearch' showChannelChooser='showChannelChooser'}}
<div class="container-wrapper">
	<div class="container">
		{{outlet}}
	</div>
</div>
{{channel-footer config=model.publicSite hasPodcasts=hasPodcasts}}