{{nav-menu channel=model.channel on-search='navSearch'}}
<div class="container-wrapper">
	<div class="container">
		{{outlet}}
	</div>
</div>
{{channel-footer config=model.channel.publicSite hasPodcasts=hasPodcasts}}
