<div class="search-page">
  {{paginated-show-list
    title=model.gallery.displayName
    loading=model.isPending
    page=page
    pageSize=50
    total=model.gallery.savedShowSearch.results.length
    shows=model.shows
    goToPage=(action "goToPage")
  }}
</div>