<div>
  <div class="show-player clearfix">
    <div class="col-sm-6 col-lg-8 u-no-padding">
      <div class="embed-responsive embed-responsive-16by9">
        {{#if this.model.slideShow.length}}
          <ShowCarousel @shows={{this.model.slideShow}} />
        {{/if}}
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 u-no-padding">
      <div class="additional-info u-truncate-text">
        <PreviewSchedule @channel={{this.channel}} @futureRuns={{this.model.futureRuns}} />
      </div>
    </div>
  </div>
</div>
{{#each this.model.galleries as |gallery|}}
  {{#if (gt gallery.shows.length 0)}}
    <ShowsGallery @gallery={{gallery}} />
  {{/if}}
{{/each}}
<div class="social-wrapper">
  <FbShareButton>Share</FbShareButton>
  <TwitterShareButton>Tweet</TwitterShareButton>
</div>