<div class="search-page">
  {{paginated-show-list
    title='Search Results'
    loading=model.isPending
    meta=meta
    shows=model
    page=page
    pageSize=50
    total=meta.count
    goToPage=(action 'goToPage')
  }}
</div>
